:root{
    --backdrop-color: #181818;
    --btn-color: #0d4029;
    --hover-color:#238e5e;
    --error-color: #d91848;
    --text-Color: #868889;
    --whiteColor: #ffffff;
    --lightbackground: #f0f0f0;
    --inputColor: #465a7e1e;    
}

@font-face {
    font-family: 'chm-font-1';
    src: url('../font/chm.woff2') format('woff2'),
}
@font-face {
    font-family: 'chm-font-2';
    src: url('../font/chm-f.woff2') format('woff2'),
}



/* RESET */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

html,
body {
    font-size: 16px;
    background-color: var(--whiteColor);
    /* background-color: var(--backdrop-color); */
}

img {
    width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 0.4s ease-in-out;
    color: inherit;
}

.container{
    margin: 0 auto;
    max-width: 485px;
    padding: 0 1rem 2rem 1rem;
   
}
.chm__logo{
    width: 125px;
    height: 36px;
    margin: 2.5rem 0 2rem 0;
}
.input__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}


.chm__label{
    color: var(--text-Color);
    font-family: chm-font-2;
    font-size: 1rem;
    font-weight: 100;
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    pointer-events: none;

}
.chm__input{
    background-color: transparent;
    color: var(--backdrop-color);
    font-family: chm-font-2;
    font-size: 1rem;
    padding: 1.2rem 1rem;
    border: 2px solid var(--text-Color);
    border-radius: 10px;
    outline-color: var(--backdrop-color); 
}


.input__wrapper:focus-within .chm__label,
.chm__input:not(:placeholder-shown) ~ .chm__label {
    top: 0.4rem;
    font-size: 0.8rem;
}

.email__wrap{
    margin-bottom: 1.5rem;
}
.sign-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: chm-font-1;
    font-size: 1rem;
    width: 100%;
    font-weight: 600;
    background-color: var(--lightbackground);
    color: var(--text-Color);
    outline: none;
    border: none;
    line-height: 1.5rem;
    padding: 0.8rem 0.6rem;
    border-radius: .5rem;
    margin: 1.5rem 0;
    cursor: not-allowed;
}
.sign-btn.active{
    background-color: var(--btn-color);
    color: var(--whiteColor);
    cursor: pointer;
}
.sign-btn.active:hover{
    background-color: var(--hover-color);
    color: var(--whiteColor);
}
.errormssg{
    font-family: chm-font-1;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--error-color);
}
.chm__paragraph > p{
    font-family: chm-font-1;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: var(--backdrop-color);
    opacity: 0.9;
}
.chm__links{
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2.8rem;
    color: var(--backdrop-color);
    opacity: 0.9;
}
.chm__links > a{
    width: max-content;
    font-family: chm-font-1;
    font-size: 1rem;
    text-decoration: underline;
}
.chm__links > a:hover{
    opacity: 0.5;
}
.chm__copyright > p{
    font-family: chm-font-2;
    font-size: 0.7rem;
    color: var(--text-Color);
    margin-bottom: 1rem;
}
.chm__sub-copyright > p{
    font-family: chm-font-2;
    font-size: 0.8rem;
    line-height: 1.4;
    font-weight: 100;
    color: var(--text-Color)
}
